# 默认忽略所有文件/目录
*

# 允许推送的目录
!app/
!app/**
!cmd/
!cmd/**
!config/
!config/**
!data/
!data/**
!wizard/
!wizard/**

# 允许推送的根目录文件
!.dockerignore
!.fpkignore
!.gitignore
!.npmrc
!CHANGELOG.md
!Dockerfile
!ICON.PNG
!ICON_256.PNG
!README.md
!docker-compose.yml
!manifest
!markdown.svg
!build-fpk-multi-arch.sh
